{% extends 'forum/base.html' %}

{% block title %}Quem Somos - Verdigis{% endblock %}

{% block content %}
<section class="secao-conteudo">
    <h1>Quem Somos</h1>
    <p>
        Somos um grupo de estudantes dos cursos de Ciência da Computação e Design da CESAR School, que tem como objetivo desenvolver soluções para empresas do ramo farmacêutico que desejam implementar práticas de ESG em sua estrutura.
    </p>
    <p>
        Sobre mais informações sobre cada um dos integrantes do grupo, você pode consultar:
    </p>
    <a href="https://sites.google.com/cesar.school/verdigis-projetos2/grupo?authuser=1">Nosso Google Sites</a>
</section>
{% endblock content %}