{% extends 'forum/base.html' %}

{% block title %}Quem Somos - Verdigis{% endblock %}

{% block content %}
<section class="secao-conteudo">
    <h1>Quem Somos</h1>
    <p>
        Somos um grupo de 10 estudantes dos cursos de Ciência da Computação e Design da CESAR School, que tem como objetivo desenvolver soluções para empresas do ramo farmacêutico que desejam implementar práticas de ESG em sua estrutura e que buscam adotar um método mais sustentável tanto na parte ambiental, com os descartes adequados, como também em uma melhor relação entre membros da empresa e medidas de governança. 
    </p>
    
    <button><a href="https://sites.google.com/cesar.school/verdigis-projetos2/grupo?authuser=1">Nosso Google Sites</a></button>

    <p>
        Caso tenha alguma dúvida, pode entrar em contato com qualquer membro da nossa equipe:
        <br><br><br>
        Ana Luiza Carvalho Xavier - Ciência da Computação - Email: alcx@cesar.school
        <br><br>
        Carlos Henrique Corrêa de Araújo Soares de Sousa - Ciência da Computação - Email: chcass@cesar.school
        <br><br>
        Carlos Vinicius Encarnação do Nascimento - Ciência da Computação - Email: cven@cesar.school
        <br><br>
        João Pedro dos Santos Menezes - Ciência da Computação - Email: jpsm4@cesar.school
        <br><br>
        João Marcelo Franca da Costa Casado - Ciência da Computação - Email: jmfcc@cesar.school
        <br><br>
        Lucas de Moura Mattos - Ciência da Computação - Email: lmm7@cesar.school
        <br><br>
        Matheus Raulino de Souza Moreira - Ciência da Computação - Email: mrsm@cesar.school
        <br><br>
        Pétala Kiara da Silva - Design - Email: pks@cesar.school
        <br><br>
        Thácio Soares Miranda dos Santos- Design - Email: tsms2@cesar.school
        <br><br>
        Vitória de Assis Seabra - Design - Email: vas4@cesar.school
    </p>
        
</section>
{% endblock content %}