{% extends 'forum/base.html' %}

{% block title %}Sobre o Projeto - Verdigis{% endblock %}

{% block content %}
<section class="secao-conteudo">
    <h1>Sobre o Projeto</h1>
    <p>
        Nossa equipe tem o intuito de trazer reconhecimento para as práticas de ESG e sua importância para o desenvolvimento sustentável das empresas.
        Com isso, o projeto Verdigis tem como objetivo fornecer soluções para empresas do ramo farmacêutico que desejam implementar práticas de ESG em sua estrutura.
    </p>
    <p>
        Para mais informações sobre o projeto, você também pode consultar:
    </p>
    <a href="https://sites.google.com/cesar.school/verdigis-projetos2/home?authuser=1">Nosso Google Sites</a>
    <p></p>
    <a href="https://github.com/jpedrosmenezes/Projeto-Verdigis">Nosso Repositório no GitHub</a>
</section>
{% endblock content %}